
<div class="row text-center help-nav">

  <div class="col-sm-3 col-xs-6">
    <a href="#amazon" class="help-card">
      
      <img src="{{ "img/helpus/AmazonWishlist-2.jpeg" | relURL }}" alt="Amazon">
      <h4>{{ i18n "help_nav_amazon" }}</h4>
    </a>
  </div>

  <div class="col-sm-3 col-xs-6">
    <a href="#teaming" class="help-card">
      <img src="{{ "img/helpus/Donacion-nav-1.jpeg" | relURL }}" alt="Teaming">
      <h4>{{ i18n "help_nav_teaming" }}</h4>
    </a>
  </div>

  <div class="col-sm-3 col-xs-6">
    <a href="#material" class="help-card">
      <img src="{{ "img/helpus/DonacionMaterial-nav-1.jpeg" | relURL }}" alt="Material">
      <h4>{{ i18n "help_nav_material" }}</h4>
    </a>
  </div>

  <div class="col-sm-3 col-xs-6">
    <a href="#voluntariado" class="help-card">
      <img src="{{ "img/helpus/Voluntariado-nav-1.jpeg" | relURL }}" alt="Voluntariado">
      <h4>{{ i18n "help_nav_volunteer" }}</h4>
    </a>
  </div>

</div>

